.h-r-btn{
   color: white;           
  text-decoration: none;   
 }
 .feature-container {
   display: flex ;
   flex-direction: column;
   align-items: flex-start;
   gap: 20px;
   position: relative;
 }
.stats-box:hover{
    background-color: #01050a;
    color: white;
    transition: 0.3s;
}